@page
@model GroceriesDelivery.Pages_Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CustPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CustID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
